<div class="text-white py-4" style="background-color: #323232;" id="contactSection">
    <div class="container">
        <h3 class="text-center">Contacto</h3>
        <p class="text-center text-white lead"><i>Puedes ponerte en contacto conmigo a través de mi dirección de correo electrónica o seguirme en mis redes sociales</i></p>
        <div class="row row-cols-1 row-cols-sm-2 py-2">
            <div class="col text-center align-self-center py-2 py-sm-0 py-md-0">
                <h5>Vía email a</h5>
                <a class="email-contact" href="mailto:jhonnycgarcia@gmail.com" target="_blank">jhonnycgarcia@gmail.com</a>
            </div>
            <div class="col text-center align-self-center py-2 py-sm-0 py-md-0">
                <h5>Redes sociales</h5>
                <a class="mr-1 social-icons" href="#"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icons"><i class="fab fa-linkedin-in"></i></a>
                <a class="ml-1 social-icons" href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</div>