/* Footer top style */

h5::before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}


/* Social icon style */

a {
    background: #494848;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

a:hover,
a:focus,
a:active {
    background: #fff;
    /* -webkit-transform: scale(1.5); */
    /* transform: scale(1.5); */
    /* margin: 0px 10px; */
}

a i {
    font-size: 10px;
    color: #fff;
    padding: 10px 10px;
}

a i:hover {
    color: #494848;
}