<div class="bg-secondary text-white">
    <div class="container mb-1">
        <h3 class="text-center">Contacto</h3>
        <div class="row row-cols-1 row-cols-sm-2">
            <div class="col text-center align-self-center">
                <h4 class="">Contact us!</h4>
            </div>
            <div class="col text-center align-self-center">
                Social Media List.
                <ul>
                    <li class="text-left">Instagram</li>
                    <li class="text-left">Linkedin</li>
                    <li class="text-left">GitHub</li>
                </ul>
            </div>
        </div>
    </div>
</div>