/* Footer top style */


/* Social icon style */

a.social-icons {
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

a.social-icons:hover,
a.social-icons:focus,
a.social-icons:active {
    background: #fff;
}

a.social-icons i {
    font-size: 20px;
    color: #fff;
    padding: 11px 11px;
}

a.social-icons i:hover {
    color: #494848;
}

a.email-contact {
    color: #c65039;
    transition: all .3s ease;
}

a.email-contact:hover {
    color: #fff;
}