<div class="text-white py-3" id="contactSection">
    <div class="container">
        <h3 class="text-center my-4">Contacto</h3>

        <div class="text-center py-2">
            <div class="row align-items-center">

                <div class="col-12 col-sm-12 col-md-6">

                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)" *ngIf="!confirmForm">
                        <div class="form-row">
                            <div class="form-group col">

                                <label class="sr-only" for="nameInput">Nombre:</label>
                                <input class="form-control" name="nameInput" type="text" placeholder="Nombre y Apellido" formControlName="nameInput" required [ngClass]="{'is-invalid': !nameField.valid && (nameField.dirty || nameField.touched)}" [readOnly]="preview">

                                <!-- Errors -->
                                <div class="invalid-tooltip" *ngIf="!nameField.valid && (nameField.dirty || nameField.touched)">
                                    <small class="text-left" id="nameInputHelp" name="nameInputHelp" *ngIf="nameField.errors.required">El campo es requerido</small>
                                    <small class="text-left" id="nameInputHelp" name="nameInputHelp" *ngIf="nameField.errors.minlength">Mínimo 6 caracteres</small>
                                    <small class="text-left" id="nameInputHelp" name="nameInputHelp" *ngIf="nameField.errors.maxlength">Máximo 30 caracteres</small>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="sr-only" for="emailInput">Email:</label>
                                <input class="form-control" name="emailInput" type="email" placeholder="Email de contacto" formControlName="emailInput" required [ngClass]="{'is-invalid': !emailField.valid && emailField.touched}" [readOnly]="preview">

                                <!-- Errors -->
                                <div class="invalid-tooltip" *ngIf="!emailField.valid && emailField.touched">
                                    <small class="text-left" id="emailInputHelp" name="emailInputHelp" *ngIf="emailField.errors.required">El campo es requerido</small>
                                    <small class="text-left" id="emailInputHelp" name="emailInputHelp" *ngIf="emailField.errors.email">Debe ingresar una dirección de correo válida</small>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="sr-only" for="messageInput">Mensaje:</label>
                                <textarea class="form-control" name="messageInput" id="messageInput" rows="6" maxlength="250" placeholder="Mensaje" formControlName="messageInput" required [ngClass]="{'is-invalid': !messageField.valid && messageField.touched}" [readOnly]="preview"></textarea>

                                <!-- Errors -->
                                <div class="invalid-tooltip" *ngIf="!messageField.valid && messageField.touched">
                                    <small class="text-left" id="messajeInputHelp" name="messajeInputHelp" *ngIf="messageField.errors.required">El campo es requerido</small>
                                    <small class="text-left" id="messajenputHelp" name="messajenputHelp" *ngIf="messageField.errors.minlength">Mínimo 6 caracteres</small>
                                    <small class="text-left" id="messajenputHelp" name="messajenputHelp" *ngIf="messageField.errors.maxlength">Máximo 500 caracteres</small>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary col-12 col-sm-2 col-md-3 col-lg-2 float-right" *ngIf="!preview">Enviar</button>
                    </form>

                    <!-- confirm -->
                    <div *ngIf="preview && !confirmForm">
                        <p>¡Genial! por último, ¿Ingresaste todos los datos correctamente?</p>
                        <button class="btn btn-secondary mx-1" type="button" (click)="confirmSubmit(true)">Si</button>
                        <button class="btn btn-secondary mx-1" type="button" (click)="confirmSubmit()">No</button>
                    </div>

                    <!-- spinner -->
                    <div *ngIf="showSpinner" class="text-center">
                        <div class="fa-3x"><i class="fas fa-sync fa-spin"></i></div>
                        <p class="p-2">Enviando...</p>
                    </div>

                    <!-- Response -->
                    <div *ngIf="showResponse">
                        <h4>{{formResponse}}</h4>
                    </div>

                </div>

                <div class="col-12 col-sm-12 col-md-6 mt-5 mt-md-0">
                    <h4 class="text-center text-white lead px-5 px-sm-3 px-md-0">Puedes contactar conmigo vía email o seguirme en mis redes sociales</h4>
                    <div class="text-center py-2">
                        <a class="email-contact text-center" href="mailto:jhonnycgarcia@gmail.com" target="_blank"><i>jhonnycgarcia@gmail.com</i></a><br>
                    </div>
                    <div class="text-center py-2">
                        <a class="social-icons mx-2 my-2" href="mailto:jhonnycgarcia@gmail.com" target="_blank"><i class="fas fa-at"></i></a>
                        <a class="social-icons mx-2 my-2" href="https://www.instagram.com/jhonnycgarcia/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="social-icons mx-2 my-2" href="https://www.linkedin.com/in/jhonnycgarcia/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icons mx-2 my-2" href="https://github.com/jhonnycgarcia/" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="social-icons mx-2 my-2" href="https://api.whatsapp.com/send?phone=584242996568&text=%C2%A1Hola%20Jhonny!%20Contacto%20contigo%20a%20trav%C3%A9s%20de%20los%20enlaces%20en%20tu%20p%C3%A1gina%20web" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a class="social-icons mx-2 my-2" href="https://t.me/jhonnycgarcia" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>