<section class="my-3" id="knowledgeSection">
    <div class="container">
        <h3 class="text-center">Conocimientos</h3>
        <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
                <span class="knowledgeIcon mx-auto"><i class="fas fa-cube"></i></span>
                <h6 class="text-center pt-2">Skill</h6>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam soluta quaerat tempora numquam cumque voluptatibus?</p>
            </div>
            <div class="col">
                <span class="knowledgeIcon mx-auto"><i class="fas fa-cubes"></i></span>
                <h6 class="text-center pt-2">Skill</h6>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam soluta quaerat tempora numquam cumque voluptatibus?</p>
            </div>
            <div class="col">
                <span class="knowledgeIcon mx-auto"><i class="fas fa-dice-d20"></i></span>
                <h6 class="text-center pt-2">Skill</h6>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam soluta quaerat tempora numquam cumque voluptatibus?</p>
            </div>
            <div class="col">
                <span class="knowledgeIcon mx-auto"><i class="fas fa-dice-d6"></i></span>
                <h6 class="text-center pt-2">Skill</h6>
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam soluta quaerat tempora numquam cumque voluptatibus?</p>
            </div>
        </div>
    </div>
</section>