    .skillContainer {
        background: #fff;
        margin: 0;
        padding: 15px 20px;
        transition: all 500ms ease-out;
    }
    
    .skillContainer:hover,
    .skillContainer:active,
    .skillContainer:focus {
        background: rgba(212, 212, 212, 0.376);
    }
    
    span.knowledgeIcon {
        background: #494848;
        width: 90px;
        height: 90px;
        display: inline-block;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms ease-out;
    }
    
    span.knowledgeIcon i {
        color: #fff;
        font-size: 45px;
        display: inline-block;
        transition: all 500ms ease-out;
    }
    
    .skillContainer:hover>span.knowledgeIcon {
        background: #fff;
        color: #494848;
        border: 2px solid #494848;
    }
    
    .skillContainer:hover>span.knowledgeIcon i {
        color: #494848;
    }