<div class="my-3" id="knowledgeSection">
    <div class="container">
        <h3 class="text-center">Conocimientos</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus voluptates maiores velit, quae sed quaerat. Itaque cum maiores ipsam cumque, accusamus aspernatur minus ad, iste blanditiis perferendis delectus molestias perspiciatis assumenda.
            Consequuntur laudantium commodi autem laboriosam rem aliquid incidunt minima accusamus pariatur quibusdam deleniti, earum eveniet eius dolores. Id impedit assumenda illum magnam vitae voluptatibus repellat ab praesentium delectus, tempore
            quod natus iusto eaque expedita esse dolore voluptates accusamus distinctio, tempora repellendus qui, excepturi culpa hic. Expedita tempora blanditiis odit architecto atque, at voluptatum molestias distinctio nisi enim non perferendis officiis.
            Consequuntur voluptatum minima, nihil, earum hic corrupti repellat ad aspernatur qui sed odio eos mollitia deleniti excepturi. Nesciunt, fuga. Recusandae perspiciatis inventore sunt doloremque velit consectetur voluptas debitis doloribus unde,
            soluta ab. Deleniti repudiandae ab, saepe quis ipsam quae fugiat! Excepturi incidunt praesentium reiciendis. Id deserunt quae odio facilis architecto numquam eius rerum. Corporis velit animi perspiciatis hic molestias.</p>
    </div>
</div>