<section id="technologies">
    <div class="container py-3">
        <h4 class="text-center">Tecnologías</h4>
        <!-- Technologies -->
        <div class="row align-items-center">
            <div *ngFor="let technology of technologies" [class]="technology.class">
                <img [src]="technology.imgSrc" [alt]="technology.altAttr">
            </div>
            <!-- <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598658788/apachex100-logoCompress_lnr8sv.png" alt="Apache">
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598646143/mysqlx100-logoCompress_q9jpyx.png" alt="MySQL">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598646137/postgresqlx100-logoCompress_evlyau.png" alt="PostgreSQL">
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598646191/mongodbx100-logoCompress_pgt25v.png" alt="MongoDB">
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598646140/phpx100-logoCompress_yuj2ed.png" alt="PHP">
            </div>
            <div class="col-6 col-sm-4 col-md-1 col-lg-1 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598649101/jsx40-logoCompress_mld58n.png" alt="JavaScript">
            </div>
            <div class="col-6 col-sm-4 col-md-1 col-lg-1 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598649099/html5x40-logoCompress_henmsp.png" alt="HTML">
            </div>
            <div class="col-6 col-sm-4 col-md-1 col-lg-1 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598649102/css3x40-logoCompress_mjlz87.png" alt="CSS">
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598646807/nodejsx100-logoCompress_q6jydm.png" alt="NodeJS">
            </div>
            <div class="col-6 col-sm-4 col-md-1 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598650840/expressx50-logoCompress_liu01f.png" alt="ExpressJS">
            </div>
            <div class="col-6 col-sm-4 col-md-1 col-lg-1 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598647921/bootstrapx40-logoCompress_zwgrnz.png" alt="Bootstrap">
            </div>
            <div class="col-6 col-sm-4 col-md-1 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598648796/gitx40-logoCompress_enm5us.png" alt="Git">
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598655862/jqueryx100-logoCompress_xbz3jr.png" alt="jQuery">
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1598657831/codeigniterx70-logoCompress_zhyzrc.png" alt="CodeIgniter">
            </div> -->
        </div>

        <!-- Stacks -->
        <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <h5 class="text-center">Stack XAMP <br><small class="text-muted">(Linux/Windows Apache MySql Php)</small></h5>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-2 text-center p-1">
                <h5 class="text-center">Stack XAPP <br><small class="text-muted">(Linux/Windows Apache PostgreSql Php)</small></h5>
            </div>
        </div>

    </div>
</section>