#curriculum {
    background: #323232;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.41);
    background-color: #323232;
}

p.info {
    padding: 0;
    margin: 0;
    color: #fff;
}

h4.curriculum-text-company>a {
    display: inline-block;
    text-decoration: none;
    color: #c65039;
}

h4.curriculum-text-company>a>i.fas {
    font-size: 1rem;
}

h4.curriculum-text-company>a:hover {
    color: #d46f5b;
}

h5>small.text-muted {
    color: #84919c!important;
}

h5::before {
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

span.badge {
    margin: 0 2px;
}