<section id="curriculum">
    <div class="container pt-3 pb-5">

        <h3 class="text-center my-4 text-white">Curriculum</h3>
        <div class="row py-2">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="http://www.consejogeneraldepolicia.gob.ve/">Profesional Independiente</a></h4>
                <h5><small class="text-muted">Desarrollador Web</small></h5>
                <p class="info"><i>Caracas, Venezuela</i></p>
                <p class="info">Julio 2018 - Presente</p>
                <p class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe hic excepturi tempora expedita earum ea.</p>
                <h6 class="text-white pt-2">Tecnologías</h6>
                <p class="info">
                    <span class="badge badge-secondary">Item</span>
                </p>

            </div>
        </div>
        <div class="row py-2">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="http://www.consejogeneraldepolicia.gob.ve/">Oficina Administrativa de la Secretaria Ejecutiva del Consejo General de Policía</a></h4>
                <h5><small class="text-muted">Desarrollador Web</small></h5>
                <p class="info"><i>Caracas, Venezuela</i></p>
                <p class="info">Julio 2016 - Julio 2018</p>
                <p class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe hic excepturi tempora expedita earum ea.</p>
                <h6 class="text-white pt-2">Tecnologías</h6>
                <p class="info">
                    <span class="badge badge-secondary">Apache</span>
                    <span class="badge badge-secondary">PHP 5</span>
                    <span class="badge badge-secondary">PostgreSql</span>
                    <span class="badge badge-secondary">Navicat</span>
                    <span class="badge badge-secondary">pgAdmin 3</span>
                    <span class="badge badge-secondary">MySql</span>
                    <span class="badge badge-secondary">CodeIgniter 3</span>
                    <span class="badge badge-secondary">CodeIgniter 3 HMVC</span>
                    <span class="badge badge-secondary">JavaScript</span>
                    <span class="badge badge-secondary">jQuery</span>
                    <span class="badge badge-secondary">AJAX</span>
                    <span class="badge badge-secondary">Git</span>
                    <span class="badge badge-secondary">Bootstrap 3</span>
                </p>

            </div>
        </div>
        <div class="row py-2">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="http://www.unes.edu.ve/">Universidad Nacional Experimental de la Seguridad</a></h4>
                <h5><small class="text-muted">Programador Web</small></h5>
                <p class="info"><i>Caracas, Venezuela</i></p>
                <p class="info">Marzo 2016 - Julio 2016</p>
                <p class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe hic excepturi tempora expedita earum ea.</p>
                <h6 class="text-white pt-2">Tecnologías</h6>
                <p class="info">
                    <span class="badge badge-secondary">Apache</span>
                    <span class="badge badge-secondary">PHP 5</span>
                    <span class="badge badge-secondary">PostgreSql</span>
                    <span class="badge badge-secondary">pgAdmin 3</span>
                    <span class="badge badge-secondary">MySql</span>
                    <span class="badge badge-secondary">CodeIgniter</span>
                    <span class="badge badge-secondary">JavaScript</span>
                    <span class="badge badge-secondary">jQuery</span>
                    <span class="badge badge-secondary">AJAX</span>
                </p>
            </div>
        </div>
    </div>
</section>