<section id="learning">
    <div class="container py-3">
        <hr>
        <h4 class="text-center">Me encuentro estudiando y aprendiendo para expandir mis conocimientos hacia las siguientes tecnologías</h4>
        <div>
            <div class="row">
                <div class="col">
                    <h5 class="text-center">TypeScript</h5>
                </div>
                <div class="col">
                    <h5 class="text-center">NativeScript</h5>
                </div>
                <div class="col">
                    <h5 class="text-center">Ionic</h5>
                </div>
                <div class="col">
                    <h5 class="text-center">Python</h5>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5 class="text-center">Stack MEAN <br><small class="text-muted">(MongoDB ExpressJS Angular NodeJs)</small></h5>
                </div>
                <div class="col">
                    <h5 class="text-center">Stack MERN <br><small class="text-muted">(MongoDB ExpressJS Angular NodeJs)</small></h5>
                </div>
                <div class="col">
                    <h5 class="text-center">Stack MEVN <br><small class="text-muted">(MongoDB ExpressJS VueJS NodeJs)</small></h5>
                </div>
            </div>
        </div>

    </div>
</section>