<div class="container">

    <!-- Card <= XS -->
    <div class="row row-cols-1 justify-content-center mb-3">
        <div class="col-10">
            <div class="card border-light d-block d-sm-none">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1589701505/mubjffnzmvyuwptluzcq.png" class="card-img-top rounded mx-auto d-block smallCard" alt="personalImage">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card >= SM -->
    <div class="card border-light mb-3 d-none d-sm-block">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1589701505/mubjffnzmvyuwptluzcq.png" class="card-img rounded regularCard" alt="personalImage">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

</div>