<!-- <div class="proyect-section" [ngClass]="{'d-none d-md-flex': index >=4}">
    <img class="proyect-section-img" [src]="proyect.coverImage" [alt]="proyect.title">
    <div class="proyect-section-text">
        <h4>{{proyect.title}}</h4>
        <p>{{proyect.summary}}</p>
        <div class="text-center align-self-center">
            <a href="#" class="badge badge-pill badge-primary proyect-section-link">Detalles &nbsp;<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div> -->

<div class="test-section" [ngClass]="{'d-none d-md-flex': index >=4}">
    <!-- <div class="test-section-container"> -->
    <img class="test-section-img" [src]="proyect.coverImage" [alt]="proyect.title">
    <div class="test-section-text">
        <h4>{{proyect.title}}</h4>
        <p>{{proyect.summary}}</p>
    </div>
    <!-- </div> -->
    <!-- <div class="proyect-section" [ngClass]="{'cssClass': expression}"> -->
    <!-- <img class="test-section-img" [src]="proyect.coverImage" [alt]="proyect.title"> -->
    <!-- <div class="test-section-text"> -->
    <!-- <h4>{{proyect.title}}</h4> -->
    <!-- <p>{{proyect.summary}}</p> -->
    <!-- <div class="text-center align-self-center">
            <a href="#" class="badge badge-pill badge-primary proyect-section-link">Detalles &nbsp;<i class="fas fa-arrow-right"></i></a>
        </div> -->
    <!-- </div> -->
</div>