<div class="jumbotron animated fadeIn" id="startSection" data-scroll>

    <div class="container text-center">

        <app-nav class="navContainer"></app-nav>

        <p class="h2 text-white">Hola, soy</p>
        <h1 class="display-4 text-white">Jhonny Garcia</h1>
        <h1 class="display-4"><small class="text-muted subTitle">Desarrollador Web</small></h1>
        <!-- <hr class="mt-3 mb-4"> -->
        <span class="do-scroll-down pt-3">
            <i class="fas fa-angle-down chevron-1"></i>
        </span>
        <!-- <div class="row row-cols-1 row-cols-sm-2 justify-content-around">
            <a class="col-8 col-sm-3 col-md-3 btn mb-3 mb-sm-0" href="#moreSection"><i class="fas fa-chevron-down"></i> &nbsp;Saber más</a>
            <a class="col-8 col-sm-3 col-md-3 btn" href="#contactSection"><i class="fas fa-question-circle"></i> &nbsp;Contacto</a>
        </div> -->
    </div>

</div>