.navContainer {
    position: relative;
    top: -3em;
}

#startSection {
    background-image: url(https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596683234/webDeveloperImage1Compress_d4p4os.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.41);
}

#startSection::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#startSection>.container {
    position: relative;
}

.subTitle {
    color: rgb(227, 234, 241) !important;
    ;
}

.container>hr {
    background: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
}

a.btn {
    color: #fff;
    padding: 6px 10px;
    -webkit-box-shadow: 10px 10px 28px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 28px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 28px 20px rgba(0, 0, 0, 0.75);
    transition: all 100ms ease-in;
    background: #c65039;
    border-color: #c65039;
}

a.btn:hover,
a.btn:active,
a.btn:focus {
    background: #a5432f !important;
    /* border-color: #a5432f !important; */
}


/* Animation for Scroll Down */

.do-scroll-down {
    color: #fff;
    font-size: 2rem;
}

.do-scroll-down>i.chevron-1 {
    opacity: 0;
}

#startSection[data-scroll="in"] i.chevron-1 {
    text-shadow: 0px -17px #fff, 0px 17px #fff;
    animation-name: slideInDown;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        text-shadow: 0px -17px rgba(255, 255, 255, 1), 0px 17px rgba(255, 255, 255, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        text-shadow: 0px -17px rgba(255, 255, 255, 0), 0px 17px rgba(255, 255, 255, 1);
    }
}

@-webkit-keyframes slideInDown {
    0% {
        opacity: 0;
        text-shadow: 0px -17px rgba(255, 255, 255, 1), 0px 17px rgba(255, 255, 255, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        text-shadow: 0px -17px rgba(255, 255, 255, 0), 0px 17px rgba(255, 255, 255, 1);
    }
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .jumbotron {
        padding: 5.5rem 2rem;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .jumbotron {
        padding: 5.5rem 2rem;
    }
}