<div class="jumbotron animated fadeIn" id="startSection">

    <div class="container text-center">
        <app-nav class="navContainer"></app-nav>

        <p class="h2">Hola, soy</p>
        <h1 class="display-4">Jhonny Garcia</h1>
        <h1 class="display-4"><small class="text-muted">Desarrollador Web</small></h1>
        <!-- <p class="lead ">Desarrollador Web</p> -->
        <hr class="my-3">

        <div class="row row-cols-1 row-cols-sm-2 justify-content-around">
            <a class="col-8 col-sm-3 col-md-2 btn btn-primary" href="#moreSection"><i class="fas fa-angle-double-down"></i> &nbsp;Ver más</a>
            <!-- <button type="button" class="col-8 col-sm-3 col-md-2 btn btn-primary mb-2 mb-sm-0"><i class="fas fa-angle-double-down"></i> &nbsp;Ver más</button> -->
            <a class="col-8 col-sm-3 col-md-2 btn btn-secondary" href="#contactSection"><i class="fas fa-question-circle"></i> &nbsp;Contacto</a>
            <!-- <button type="button" class="col-8 col-sm-3 col-md-2 btn btn-secondary"><i class="fas fa-question-circle"></i> &nbsp;Contacto</button> -->
        </div>

    </div>

</div>