<section id="cursos">
    <div class="container py-3">
        <h3 class="text-center my-4">Cursos Realizados</h3>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="https://drive.google.com/file/d/1n1LH1zGOi1pFgthFVcXLJnbHPB2GwG_S/view?usp=sharing" target="_blank">Curso Profesional de Backend <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">CodigoFacilito</small></h5>
                <p class="info">Mayo 2020</p>
                <p class="info">ID de la credencial c3c044ca-5f4a-47dd-adf0-375c2cdbf7a1</p>
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="http://ude.my/UC-2b5cc778-9693-4a80-b1d7-c9e24f6894a1" target="_blank">La Biblia de Node.js <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">Udemy</small></h5>
                <p class="info">Febrero 2020</p>
                <p class="info">ID de la credencial UC-2b5cc778-9693-4a80-b1d7-c9e24f6894a1</p>
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="http://ude.my/UC-K9HGU2N3" target="_blank">Node: De cero a experto <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">Udemy</small></h5>
                <p class="info">Enero 2020</p>
                <p class="info">ID de la credencial UC-K9HGU2N3</p>
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="http://ude.my/UC-DZW8GI3I/" target="_blank">Bootstrap 4! Curso desde cero - Crea una web fácil y rápido <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">Udemy</small></h5>
                <p class="info">Agosto 2017</p>
                <p class="info">ID de la credencial UC-DZW8GI3I</p>
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="https://drive.google.com/file/d/0BxWJUV3WjctCVlVqMUpDLXBJRUk/view?usp=sharing" target="_blank">Diseño de Sitos Web con WordPress (Básico) <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">CONATEL</small></h5>
                <p class="info">Junio 2017</p>
                <p class="info">ID de la credencial PRT-12-01-17-4</p>
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="#" onclick="return false;" target="_blank">HTML, JAVASCRIPT, PHP, MYSQL, DREAMWEAVER <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">Centro Integral de Educación y Atención Tecnológica</small></h5>
                <p class="info">Abril 2014</p>
                <p class="info">ID de la credencial 1.213</p>
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

        <div class="row py-3">
            <div class="col px-5 px-sm-3 px-md-0">
                <h4 class="curriculum-text-company"><a href="#" onclick="return false;" target="_blank">Niveles Básico y Avanzado de Computación y Suit Microsoft Office <i class="fas fa-link"></i></a></h4>
                <h5><small class="text-muted">ORT Venezuela</small></h5>
                <p class="info">Enero 2010</p>
                <!-- <p class="info">ID de la credencial 1.213</p> -->
                <!-- <h6 class="text-white pt-2">Tecnologías</h6> -->
            </div>
        </div>

    </div>
</section>