<section id="old-jobs">
    <div class="container">
        :
        <h6 class="text-center">Algunas de las instituciones en las que he trabajado:</h6>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col text-center">
                <img class="old-job-img" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1597623414/iconUnesCompress_pke8r8.png" alt="Universidad Nacional Experimental de la Seguridad">
            </div>
            <div class="col text-center">
                <img class="old-job-img" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1597623414/iconCgpCompress_h34l1w.png" alt="Oficina Administrativa de la Secretaria Ejecutiva del Consejo Nacional de Policia">
            </div>
            <div class="col text-center">
                <img class="old-job-img" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1597623415/iconVisipolCompress_anrlne.png" alt="Viceministerio del Sistema Integrado de Policia">
            </div>
        </div>
    </div>
</section>