<div class="d-none d-sm-block animated fadeIn fast" style="margin-top: -3.5rem !important;">
    <ul class="nav justify-content-end" id="navPage">
        <li class="nav-item ">
            <a class="nav-link" href="#startSection">Inicio</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#proyectSection">Proyectos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#knowledgeSection">Conocimientos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#contactSection">Contacto</a>
        </li>
    </ul>
</div>