<section>
    <div class="d-none d-sm-block">
        <ul class="nav justify-content-end" id="navPage">
            <li class="nav-item ">
                <a class="nav-link text-white" href="#knowledgeSection">Experiencia</a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link text-white" href="#proyectSection">Proyectos</a>
            </li> -->
            <li class="nav-item ">
                <a class="nav-link text-white" href="#curriculum">Curriculum</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="#moreSection">Acerca</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="#contactSection">Contacto</a>
            </li>
        </ul>
    </div>
</section>