<div class="d-none d-sm-block animated fadeIn fast" style="margin-top: -3.5rem !important;">
    <ul class="nav justify-content-end" id="navPage">
        <li class="nav-item ">
            <a class="nav-link active" href="#startSection">Inicio</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link disabled" href="#" aria-disabled="true">Trabajos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#knowledgeSection">Conocimientos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#contactSection">Contacto</a>
            <!-- <a class="nav-link disabled" href="#contactSection" aria-disabled="true">Contacto</a> -->
        </li>
    </ul>
</div>