<section id="proyectSection">
    <div class="container my-3">
        <h3 class="text-center">Proyectos</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4">
            <div class="col mb-1 mb-sm-1">
                <div class="proyectsImg text-center">
                    <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1589701505/mubjffnzmvyuwptluzcq.png" alt="">
                </div>
            </div>
            <div class="col mb-1 mb-sm-1">
                <div class="proyectsImg text-center">
                    <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1589701505/mubjffnzmvyuwptluzcq.png" alt="">
                </div>
            </div>
            <div class="col col mb-1 mb-sm-1">
                <div class="proyectsImg text-center">
                    <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1589701505/mubjffnzmvyuwptluzcq.png" alt="">
                </div>
            </div>
            <div class="col col mb-1 mb-sm-1">
                <div class="proyectsImg text-center">
                    <img src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1589701505/mubjffnzmvyuwptluzcq.png" alt="">
                </div>
            </div>
        </div>
        <div class="row row-cols-1 justify-content-center mt-1">
            <button class="btn btn-secondary col-6 col-sm-3 col-md-3 col-lg-2">Ver mas</button>
        </div>
    </div>
</section>