    .c-pImg {
        width: 100%;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #000;
        overflow: hidden;
        position: relative;
    }
    
    .c-pImg img {
        width: 300px;
        /* width: 100%; */
    }
    /* Texto */
    
    .c-pImg .c-pText {
        width: 300px;
        text-align: center;
        position: absolute;
        transition: all .3s;
        transform: scale(1.5);
        opacity: 0;
    }
    
    .c-pImg .c-pText h4,
    .c-pImg .c-pText p {
        color: #fff;
        padding: auto auto;
    }
    
    .c-pImg:hover .c-pText {
        transform: scale(1);
        opacity: 1;
    }
    /* Lineas */
    
    .c-pImg::before,
    .c-pImg::after {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 4px;
        background: #c65039;
        transition: all .3s;
    }
    
    .c-pImg::before {
        left: -100%;
        top: 1px;
    }
    
    .c-pImg::after {
        left: 100%;
        bottom: 1px;
    }
    /* Lineas Hover */
    
    .c-pImg:hover::before,
    .c-pImg:hover::after {
        left: 15px;
        /* opacity: 1; */
    }
    /* --------------- TEST ------------------ */
    
    .proyectContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #000;
    }
    
    .proyectContainer img {
        position: relative;
        width: 100%;
        max-width: 300px;
        cursor: pointer;
        transition: all 500ms ease-out;
    }
    
    .proyectContainer div.proyectText {
        position: absolute;
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
        /* margin: 0 auto; */
        height: 100%;
        opacity: 0;
        transition: all 500ms ease-out;
        visibility: hidden;
    }
    
    .proyectContainer div.proyectText>h4,
    .proyectContainer div.proyectText>p {
        transform: scale(1.5);
        transition: all .3s ease;
        padding: 10px auto;
        color: #fff;
    }
    
    .proyectContainer:hover div.proyectText {
        background: rgba(143, 152, 154, 0.7);
    }
    
    .proyectContainer:hover>div.proyectText {
        visibility: visible;
        opacity: 1;
    }
    
    .proyectContainer:hover div.proyectText>h4,
    .proyectContainer:hover div.proyectText>p {
        transform: scale(1);
    }
    /* -------------------- Test Two ------------------------ */
    
    .test-two {
        width: 100%;
        /* height: 100%; */
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        /* position: relative; */
    }
    
    .test-two>img.test-two-img {
        width: 100%;
        max-width: 300px;
        position: relative;
        transition: all 500ms ease-out;
    }
    
    .test-two>div.test-two-text {
        position: absolute;
        text-align: center;
        width: 300px;
        max-width: 100%;
        /* height: 100%; */
        transition: all .3s;
        /* bottom: -50%; */
        opacity: 0;
    }
    
    .test-two>div.test-two-text>h4,
    .test-two>div.test-two-text>p {
        color: #fff;
        padding: 10px auto;
    }
    
    .test-two:hover>div.test-two-text {
        opacity: 1;
        /* bottom: 0%; */
    }
    /* img.test-two-img::before {
        left: -100%;
        top: 1px;
    }
    
    .test-two-img::before:hover {
        left: 15px;
    } */
    /* .test-two:hover>img.test-two-img {
    filter: brightness(0.8);
} */
    /* --------------------------------- Nemesis --------------------------- */
    
    #nemesisContainer {
        position: relative;
        width: 300px;
        height: 100%;
    }
    
    #nemesisContainer>#nemesis {
        width: 100%;
    }
    
    #nemesisContainer::before {
        content: 'Here is some text..';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 1s;
        -webkit-transition: all 1s;
    }
    
    #nemesisContainer:hover::before {
        opacity: 1;
    }
    /* -------------------------------- Test Three -------------------------------------- */
    
    .test3 {
        background: #000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .test3>img.test3Image {
        width: 100%;
        position: relative;
        transition: all 500ms ease-out;
        filter: brightness(1);
    }
    
    .test3>div.test3Body {
        width: 100%;
        position: absolute;
        text-align: center;
        color: #fff;
        transition: all 500ms ease-out;
        padding: 10px 10px;
        transform: scale(1.5);
        opacity: 0;
    }
    
    .test3:hover>div.test3Body,
    .test3:focus>div.test3Body,
    .test3:active>div.test3Body {
        opacity: 1;
        transform: scale(1);
    }
    
    .test3:hover>img.test3Image,
    .test3:focus>img.test3Image,
    .test3:active>img.test3Image {
        filter: brightness(0.6);
    }