<section id="proyectSection">
    <div class="container my-3">
        <h3 class="text-center">Proyectos</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2">

            <!-- 1er -->
            <div class="col mb-1 mb-sm-1">
                <div class="text-center c-pImg">
                    <img class="" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153385/coffeeCupGrayCompress_silig3.png" alt="">
                    <div class="c-pText">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-1 mb-sm-1">
                <div class="text-center c-pImg">
                    <img class="" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153384/coffeeCupBlueCompress_ound0n.png" alt="">
                    <div class="c-pText">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>

            <!-- Test2 -->
            <div class="col mb-1 mb-sm-1">
                <div class="test-two">
                    <img class="test-two-img" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153384/coffeeCupBlueCompress_ound0n.png" alt="">
                    <div class="test-two-text">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-1 mb-sm-1">
                <div class="test-two">
                    <img class="test-two-img" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153384/coffeeCupBlueCompress_ound0n.png" alt="">
                    <div class="test-two-text">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>

            <!-- Test1 -->
            <div class="col col mb-1 mb-sm-1">
                <div class="proyectContainer">
                    <img class="proyectsImg" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153385/coffeeCupRedCompress_b664sd.png" alt="">
                    <div class="proyectText py-auto">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>
            <div class="col col mb-1 mb-sm-1">
                <div class="proyectContainer">
                    <img class="proyectsImg" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153385/coffeeCupRedCompress_b664sd.png" alt="">
                    <div class="proyectText py-auto">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>


            <!-- Test3 -->
            <div class="col col-mb-1 mb-sm-1">
                <div class="test3">
                    <img class="test3Image" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153385/coffeeCupCyanCompress_z7nriv.png" alt="">
                    <div class="test3Body">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>
            <div class="col col-mb-1 mb-sm-1">
                <div class="test3">
                    <img class="test3Image" src="https://res.cloudinary.com/jhonnycgarcia/image/upload/v1596153385/coffeeCupCyanCompress_z7nriv.png" alt="">
                    <div class="test3Body">
                        <h4>Title</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, quam.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-cols-1 justify-content-center mt-1">
            <button class="btn btn-secondary col-6 col-sm-3 col-md-3 col-lg-2">Ver mas</button>
        </div>
    </div>
</section>