<section id="proyectSection" class="py-3">
    <div class="container my-3">
        <h3 class="text-center my-4">Portafolio de proyectos</h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">

            <div class="col mb-2 mb-sm-2" *ngFor="let proyect of proyects; let i = index" id="card-proyect">
                <app-proyect-card [index]="i" [proyect]="proyect"></app-proyect-card>
            </div>

        </div>
        <div class="row row-cols-1 justify-content-center mt-2">
            <a class="btn col-6 col-sm-3 col-md-3 col-lg-2 proyect-section-button" href="#"><i class="fas fa-plus-circle"></i> &nbsp;Ver más</a>
        </div>
    </div>
</section>